.hero{
    max-width:900px;
    margin:auto;
    text-align:center;
    padding:40px 0;
}

.hero-logo{
    font-size:56px;
    color:var(--brown);
}

.hero h1{
    margin-top:10px;
    font-family:"Cormorant Garamond",serif;
    font-size:110px;
    color:var(--dark);
}

.divider{
    display:flex;
    align-items:center;
    margin:40px 0 55px;
}

.divider span{
    flex:1;
    height:2px;
    background:#c7c7b4;
}

.diamond{
    width:18px;
    height:18px;
    margin:0 18px;
    background:#c7c7b4;
    transform:rotate(45deg);
}

.lesson-buttons{
    display:flex;
    flex-direction:column;
    gap:28px;
}

.lesson-card{
    display:flex;
    justify-content:center;
    align-items:center;
    height:95px;
    border-radius:22px;
    text-decoration:none;
    background:var(--light);
    color:var(--dark);
    font-size:30px;
    font-weight:600;
    transition:.25s;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
}

.lesson-card.primary{
    background:var(--brown);
    color:white;
}

.lesson-card:hover{
    transform:translateY(-4px);
    box-shadow:0 18px 35px rgba(0,0,0,.15);
}

@media(max-width:768px){
    .hero h1{
        font-size:70px;
    }

    .lesson-card{
        height:80px;
        font-size:22px;
    }
}