<section class="card">

    <h2>Для чего нужны сыфаты?</h2>

    <div class="purpose-list">

        <div class="purpose-item">
            <span>①</span>
            <p>Разделение букв, у которых общий махрадж.</p>
        </div>

        <div class="purpose-item">
            <span>②</span>
            <p>Улучшение или для красоты чтения. При соблюдении сифатов чтение становится звучнее, четче и лучше.</p>
        </div>

        <div class="purpose-item">
            <span>③</span>
            <p>Различение сильных букв от слабых, так как сильные буквы поглощают слабые буквы.</p>
        </div>

    </div>

</section>